<h2>This is Detail Component</h2>

<div class="row">
    <div class="col-md-3"><b>First Name</b></div><div class="col-md-3">{{EmployeeDetails.FirstName}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Last Name</b></div><div class="col-md-3">{{EmployeeDetails.LastName}}</div>
</div>

<div class="row">
    <div class="col-md-3"><b>Title</b></div><div class="col-md-3">{{EmployeeDetails.Title}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>JMBG:</b></div><div class="col-md-3">{{EmployeeDetails.JMBG}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Disabled?:</b></div><div class="col-md-3">{{EmployeeDetails.disabled? 'Yes' : 'No'}}</div>
</div>

