<table>
  <thead>
  <tr>
    <th width="200">First name</th>
    <th width="200">Last name</th>
    <th>Title</th>
    <th width="150" *ngIf="canDelete">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.title}}</td>
    <td *ngIf="canDelete"><button type="button" class="delete-button alert button" (click)="delete(employee);">Delete</button></td>
  </tr>
  </tbody>
</table>
<table>
  <thead>
  <th>First name</th>
  <th>Last name</th>
  <th>Title</th>
  </thead>

<tbody>
<tr>
  <td><input #firstName type="text" class="form-control" placeholder="First name"></td>
  <td><input #lastName type="text" class="form-control" placeholder="Last name"></td>
  <td><input #title type="text" class="form-control" placeholder="Title"></td>
</tr>
</tbody>
</table>

<button type="button" class="success button add-button" (click)="add(firstName.value,lastName.value,title.value);">Add</button>
