<div class="medium-12 columns">
		<div class="medium-9 columns input-group">
		  <span class="input-group-label">Search employees by id:</span>
		  <input class="input-group-field" type="number" name="empinput" [(ngModel)]="searchId">
		</div>
		<div class="medium-3 columns">
			<button (click)="getEmployee()" class="expanded button">
			  <span>Search</span>
			</button>
		</div>
  </div>

<table>
  <thead>
  <tr>
    <th width="200">First name</th>
    <th width="200">Last name</th>
    <th>Title</th>
    <th width="150" *ngIf="canDelete">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td><span *zPrint="employee.firstName"></span></td>
    <td><span *zPrint="employee.lastName"></span></td>
    <td><span *zPrint="employee.title"></span></td>
    <td *ngIf="canDelete"><button type="button" class="delete-button alert button" (click)="delete(employee);">Delete</button></td>
  </tr>
  </tbody>
</table>
<h3>Add employee</h3>
<table>
  <thead>
  <th>First name</th>
  <th>Last name</th>
  <th>Title</th>
  <th>JMBG</th>
  </thead>

<tbody>
<tr>
  <td><input #firstName type="text" class="form-control" placeholder="First name"></td>
  <td><input #lastName type="text" class="form-control" placeholder="Last name"></td>
  <td><input #title type="text" class="form-control" placeholder="Title"></td>
  <td><input #jmbg type="text" class="form-control" placeholder="JMBG"></td>
</tr>
</tbody>
</table>

<button type="button" class="success button add-button"
        (click)="add(firstName.value,lastName.value,title.value, jmbg.value);">Add
</button>
<script type="application/javascript">alert('xss')</script>
