<div class="medium-12 columns">
		<div class="medium-9 columns input-group">
		  <span class="input-group-label">Search employees by id:</span>
		  <input class="input-group-field" type="text" name="empinput" [(ngModel)]="searchId">
		</div>
		<div class="medium-3 columns">
			<button (click)="getEmployee()" class="expanded button">
			  <span>Search</span>
			</button>
		</div>
  </div>

<table>
  <thead>
  <tr>
    <th width="200">First name</th>
    <th width="200">Last name</th>
    <th>Title</th>
    <th width="150" *ngIf="canDelete">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.title}}</td>
    <td *ngIf="canDelete"><button type="button" class="delete-button alert button">Delete</button></td>
  </tr>
  </tbody>
</table>
